<ion-split-pane contentId="content">
  <ion-menu contentId="content">
 
    <!-- <ion-header class="pt-16"   no-border>
      <ion-toolbar class="flex flex-column">
        <div class="pl-5 pt-15">{{user?.fullName}}</div>
        <div class="pl-5 pt-8"><ion-text>{{user?.email}}</ion-text></div>
        <div class="pl-5 pt-8"> <ion-text>{{user?.phone}}</ion-text></div>

      </ion-toolbar>
    </ion-header> -->
 
    <ion-content class="ion-no-padding">
      <div class="menu-header-bg">
      </div>
      <div class="header-content">
        <img src="/assets/icon/man.png" alt="" srcset="">
        <ion-label>
          <h2>{{user?.fullName}}</h2>
          <p><ion-text>{{user?.email}}</ion-text></p>
          <p> <ion-text>{{user?.phone}}</ion-text></p>
  
        </ion-label>
      </div>
      <ion-row>

      </ion-row>
      <!-- List Header with Outline Button -->
      <ion-list class="border-b list-items">

      <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item class="item" lines="none" [routerLink]="p.url" routerDirection="root" routerLinkActive="active-item">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list class="border-b list-items">
        <ion-row>
          <ion-col class="pb-0" size="12">
            <ion-list-header class="flex">
              <ion-label>
                Manage
              </ion-label>
            </ion-list-header>
          </ion-col>
  
        </ion-row>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of manage">
        <!-- {
          title: 'Search & Buy Medicine',
          url: '/menu/home/upload',
          icon: 'search-f'
        }, -->
          <ion-item class="item" lines="none" [routerLink]="p.url" routerDirection="root" routerLinkActive="active-item">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list class="border-b list-items">
        <ion-row>
          <ion-col class="pb-0" size="12">
            <ion-list-header class="flex">
              <ion-label>
                Support
              </ion-label>
            </ion-list-header>
          </ion-col>
  
        </ion-row>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of support">
          <ion-item class="item" lines="none" [routerLink]="p.url" routerDirection="root" routerLinkActive="active-item">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list> 
        <ion-item class="item" button lines="none" (click)="logout()" routerDirection="root">
          <ion-icon name="log-out-f" slot="start"></ion-icon>
          Logout
        </ion-item>
 
      </ion-list>

    
 
    </ion-content>
 
  </ion-menu>
 
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
