ion-header{
    background: #3d8fae;
    background: linear-gradient(90deg, rgba(2,129,178,1) 0%, rgba(2,129,178,1) 88%, rgba(0,212,255,1) 100%);
    --ion-color-base: transparent !important;
}
ion-toolbar {
    --background: #3d8fae;
    --background: linear-gradient(90deg, rgba(2,129,178,1) 0%, rgba(2,129,178,1) 88%, rgba(0,212,255,1) 100%);
    --ion-color-base: transparent !important;
    height: 135px;
    text-align: left;
    color: #fff;
    padding: 7px 10px !important;
    div{
        width: 100%;
        height: 36px;
    }
 }
 .menu-header-bg{
    height: 180px;
    width: 350px;
    background: #3d8fae;
    background: linear-gradient(90deg, rgba(2,129,178,1) 0%, rgba(2,129,178,1) 88%, rgba(0,212,255,1) 100%);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
 }
 .header-content{
     position: absolute;
     top: 30px;
     left: 15px;
     display: flex;
     align-items: center;

     img{
         width: 60px;
         height: 60px;
         border-radius: 50%;
         border: 3px solid rgba(0,212,255,1);
         margin-right: 5px;
     }
     h2{
         font-weight: 300;
         color: #fff;
         text-transform: capitalize;
     }
     p{
         font-size: 12px;
         color: #e4e4e4;
         font-weight: 100;
         letter-spacing: 0.4px;
     }
 }
 ion-title {
     ion-text{
         font-weight: normal;
         font-size: 80%;
     }
 }
 .header-md::after {
     background: none !important;
 }
 .login{
     --background: #0BD175;
     width: 100%;
     color: #f4f8f5;
     margin-bottom: 15px;
 }
 .border-b{
     border-bottom: 1.5px solid #EEE;
 }
 ion-list-header{
    ion-label{
        font-size: 18px;
        font-weight: 600;
    }
 }
 .list-items{
     padding-top: 0 !important;
 }
 .item {
     --min-height: 30px !important;
     ion-icon{
         font-size: 22px;
     }

     ion-label{
         font-size: 15px;
     }
 }
