.c-card{
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    height: 150px;
    max-height: 150px;
}
.img-wrapper {
    // min-height: 200px;
    align-self: center;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}