<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-title>
      <ion-button fill="clear" color="dark" type="back">
        <ion-icon  transparent name="arrow-left"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">

  <div *ngIf="!showVerify" class="ion-padding container pb-32">
    <img src="assets/icon/logo-big.png" alt="" class="logo">
    <h6 >Fill the following instructions to Sign Up</h6>
    <form (ngSubmit)="signup()" [formGroup]="credentials" class="form-container pt-16">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" formControlName="fullName"></ion-input>
      </ion-item>
      <div *ngIf="(fullName.dirty || fullName.touched) && fullName.errors" class="errors">
        <span *ngIf="fullName.errors?.required">Full Name is required</span>
        <span *ngIf="fullName.errors?.email">Full Name is invalid</span>
      </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="tel-country-code" formControlName="phone"></ion-input>
      </ion-item>
      <div *ngIf="(phone.dirty || phone.touched) && phone.errors" class="errors">
        <span *ngIf="phone.errors?.required">Phone is required</span>
        <span *ngIf="phone.errors?.phone">Phone is invalid</span>
      </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input  [type]="hide ? 'password' : 'text'" formControlName="password"></ion-input>
        
        <ion-icon class="mt-32" (click)="hide = !hide" name="eye" size="small" slot="end"></ion-icon>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input [type]="hideConfirm ? 'password' : 'text'"></ion-input>
        <ion-icon class="mt-32" (click)="hideConfirm = !hideConfirm" name="eye" size="small" slot="end"></ion-icon>
      </ion-item>

      <ion-button class="login mt-32" type="submit" expand="block" [disabled]="!credentials.valid">Sign up</ion-button>

      <div class="flex sign-up">
        <ion-label class="pt-11">
          Already have an account?
          <ion-button color="dark" class="pb-8" fill="clear" routerLink="/login" routerDirection="forward">Login</ion-button>
        </ion-label> 
      </div>
    </form>
  </div>
  <ion-row *ngIf="showVerify" class="px-32 h-100 pt-16 pb-24">
    <ion-col>
        <div class="text-center mb-8 ion-text-center">
            <ion-text class="alt-font color-dark-green x-large mb-17 text-center">
              Verification code
            </ion-text>
        </div>
        <div class="ion-text-center pb-42">
            <ion-text class="text-small">
               Enter the 6 digit code sent to your phone.
            </ion-text>
        </div>
        <div class="ion-text-center pt-40">
            <app-passcode [errorLogin]="InvalidCode" (doPassForm)="continue($event)"></app-passcode>
        </div>
        <div class="ion-text-center">
            <ion-text *ngIf="errorLogin" class="text-small color-red">
                {{ errorLogin }}
            </ion-text>
        </div>
    </ion-col>
</ion-row>
</ion-content>

<!-- <ion-button expand="block" routerLink="/menu/home">Login</ion-button> -->
