<app-header title="home" [cart]="true"></app-header>

<ion-content  class="ion-padding">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" id="refresher">
    <ion-refresher-content
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionFocus)="presentModal()" placeholder="Search services" ></ion-searchbar>

  <ion-row class="mt-28">
    <ion-col>
      <span class="cat-span">
        Category
      </span>
    </ion-col>
    <ion-col class="flex ion-justify-content-end p-0">
      <ion-button (click)="navigate('categories')" fill="clear" class="see-all p-0">
        See All
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-grid class="mt-5">
    <ion-row>
      <ion-col size="4" *ngFor="let icon of categories.slice(0,6)">
        <div (click)="shop(icon.id)" class="flex flex-column ion-justify-content-center ion-text-center dark">
          <div >
            <img class="img" [src]="icon.img" alt="">
          </div>
          <h5 class="cat-name">{{icon.title}}</h5>
        </div>
      </ion-col>
      
 



     
    </ion-row>
    
  </ion-grid>
</ion-content>
