// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3d8fae;
  --ion-color-primary-rgb: 61, 143, 174;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #367e99;
  --ion-color-primary-tint: #509ab6;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: light) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #b1d2df;
    --ion-color-primary-rgb: 177, 210, 223;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #9cb9c4;
    --ion-color-primary-tint: #b9d7e2;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #fff;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
  --ion-font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  --ion-default-font: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  --ion-background-color: #f5f9fc;
  --ion-background-color-rgb: 245, 249, 252;
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  --ion-color-success: #008641;
  --ion-color-success-rgb: 0, 134, 65;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #007639;
  --ion-color-success-tint: #1a9254;
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  --ion-color-danger: #ef6d53;
  --ion-color-danger-rgb: 239, 109, 83;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255 255 255;
  --ion-color-danger-shade: #d26049;
  --ion-color-danger-tint: #f17c64;
  --ion-color-dark: #191a19;
  --ion-color-dark-rgb: 25, 26, 25;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #161716;
  --ion-color-dark-tint: #303130;
  --ion-color-medium: #747c78;
  --ion-color-medium-rgb: 116, 124, 120;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #666d6a;
  --ion-color-medium-tint: #828986;
  --ion-color-light: #d1d4d2;
  --ion-color-light-rgb: 209, 212, 210;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --app-green-color: #018641;
  --app-dark-green: #006330;
  --ion-color-light-shade: #b8bbb9;
  --ion-color-light-tint: #d6d8d7;
  /** Custom colors **/
  --ion-color-green-gradient: #008641;
  --ion-color-green-gradient-rgb: 0, 134, 65;
  --ion-color-green-gradient-contrast: #ffffff;
  --ion-color-green-gradient-contrast-rgb: 255, 255, 255;
  --ion-color-green-gradient-shade: #006330;
  --ion-color-green-gradient-tint: #1a9254;
  --ion-color-omn-light-green: #e5f2ec;
  --ion-color-omn-light-green-rgb: 229, 242, 236;
  --ion-color-omn-light-green-contrast: #191a19;
  --ion-color-omn-light-green-contrast-rgb: 25, 26, 25;
  --ion-color-omn-light-green-shade: #cad5d0;
  --ion-color-omn-light-green-tint: #e8f3ee;
  --ion-color-omn-medium: #a7aca9;
  --ion-color-omn-medium-rgb: 167, 172, 169;
  --ion-color-omn-medium-contrast: #000000;
  --ion-color-omn-medium-contrast-rgb: 0, 0, 0;
  --ion-color-omn-medium-shade: #a7aca9;
  --ion-color-omn-medium-tint: #b0b4b2;
  --ion-color-omn-red: #e1261c;
  --ion-color-dark-green-b: #004220;
  --ion-color-dark-green-b-rgb: 0, 66, 32;
  --ion-color-dark-green-b-contrast: #ffffff;
  --ion-color-dark-green-b-contrast-rgb: 255, 255, 255;
  --ion-color-dark-green-b-shade: #003a1c;
  --ion-color-dark-green-b-tint: #1a5536;
  --ion-color-omn-grey-5: #4a4f4c;
  --ion-color-omn-grey-medium-2: #f7f8f7;
  --app-green-color: #006330;
  --app-dark-green-b-color: #004220;
  --app-green-color-light: #008641;
  --app-green-color-light2: #5fb63d;
  --app-text-color: #191a19;
  --color: #191a19;
  --app-secondary-text-color: #747c78;
  --app-input-label-color: #8b8b8b;
  --app-grey-3: #8b8b8b;
  --app-white-color: #ffffff;
  --app-red-color: #e1261c;
  --app-active-color: #f2f9f5;
  --app-light-green-color: #e5f2ec;
  --app-light-red-color: #c32328;
  --app-color-danger: #ef6d53;
  --app-color-white: #ffffff;
  --danger-gradient-1: #ef6d53;
  --danger-gradient-2: #e63c2d;
  --light-green-5: #bfe2d0;
  --danger-gradient: linear-gradient(
    135deg,
    var(--danger-gradient-1) 0%,
    var(--danger-gradient-2) 100%
  );
  --success-gradient-1: #008641;
  --succes-gradient-2: #006330;
  --success-gradient: linear-gradient(
    135deg,
    var(--success-gradient-1) 0%,
    var(--succes-gradient-2) 100%
  );
  --app-active-color: #f2f9f5;
  --app-secondary-bg: var(--app-active-color);
  --app-secondary-color: var(--app-green-color);
  // Inputs
  --app-input-bg: var(--ion-color-omn-grey-medium-2);
  --app-input-placeholder-color: #8b8b8b;
  // Overlays
  --ion-overlay-background-color: var(--app-white-color);
  --ion-backdrop-color: var(--ion-color-omn-medium);
  --ion-backdrop-opacity: 0.8;
  // chips
  --app-chip-label-color: #8b8b8b;
  --app-chip-label-color-rgb: 139, 139, 139;
  --app-chip-border-color: #a7aca9;
  // Select
  --app-select-placeholder-color: var(--app-input-placeholder-color, #8b8b8b);
  --app-select-placeholder-font: var(--ion-font-family);
  // Disabled
  --ion-color-disabled: #d1d4d2;
  --ion-color-disabled-rgb: 209, 212, 210;
  --ion-color-disabled-contrast: $grey;
  --ion-color-disabled-contrast-rgb: 0, 0, 0;
  --ion-color-disabled-shade: #b8bbb9;
  --ion-color-disabled-tint: #d6d8d7;
  --ion-color-password-hide: #343439;
}

// disabled
// Custom variables.
$baseFontSizePx: 16px;
$grid-breakpoints: ();
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
  ),
  $grid-breakpoints
);
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px,
    6: 6px,
    8: 8px,
    11: 11px,
    10: 10px,
    12: 12px,
    13: 13px,
    14: 14px,
    15: 15px,
    16: 16px,
    17: 17px,
    18: 18px,
    19: 19px,
    20: 20px,
    21: 21px,
    22: 22px,
    23: 23px,
    24: 24px,
    26: 26px,
    27: 27px,
    28: 28px,
    30: 30px,
    32: 32px,
    36: 36px,
    37: 37px,
    38: 38px,
    40: 40px,
    42: 42px,
    44: 44px,
    46: 46px,
    48: 48px,
    52: 52px,
    56: 56px,
    60: 60px,
    64: 64px,
    72: 72px,
    73: 73px,
    80: 80px,
    90: 90px,
    93: 93px,
    96: 96px,
    149: 149px,
    128: 128px,
    112: rem(112),
  ),
  $spacers
);
$alt-font: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
$pass-font: 'pass-font', 'Roboto', 'Helvetica Neue', Arial, sans-serif;

/** Custom colors **/

// Colors
$white: #ffffff;
$blue: #0087ea;
$danger: #ef6d53;
$warning: #ef6d53;
//Primary
$green: #0BD175;
$red: #e1261c;
$black: #191a1a;
$blue: #0087ea;
//Secondary
$secondary-grey: #747c78;
$secondary-blue: #0077cc;
$grey: #636463;
$grey3: #8b8b8b;
$grey-4: #4c4f51;
$grey-5: #4a4f4c;
$grey-6: #343439;
$medium-grey: #a7aaac;
$medium-grey-2: #d1d4d2;
$medium-grey-3: #d1d4d2;
$light-grey: #d1d3d4;
$light-grey-2: #f7f8f7;
$light-green-5: #bfe2d0;
$ultra-light-grey: #f2f9f5;
$ultra-light-grey-2: #f2f2f3;
$dark-grey: #454545;
//Tertiary
$dark-green: #006330;
$dark-green-b: #004220;
$medium-green: #bfe2ce;
$medium-green-2: #a7aca9;
$medium-green-3: #bfe2d0;
$light-green: #e5f2ec;
$light-green-3: #2d7d43;
$ultra-light-green: #f2f9f5;
$light-red: #c32328;
$alt-bg: #f5f9fc;
$deep-blue: #1c5393;
$light-blue: #236faa;
$yellow: #f7ce23;
$yellow-2: #f5d800;
$bg-dark: #1a1919;
$light-green-2: #5fb63d;
$light-green-5: #bfe2d0;
$box-shadow-1: 0 3px 10px -2px rgba(0, 0, 0, 0.2),
  0 1px 2px 0 rgba(0, 0, 0, 0.15);
$box-shadow-2: 0 14px 10px -6px rgba(0, 99, 48, 0.25);
$box-shadow-31: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
$box-shadow-32: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
$box-shadow-3: 0 2px 5px 0 rgba(0, 0, 0, 0.12),
  0 10px 20px 0 rgba(0, 0, 0, 0.12);
$box-shadow-4: 0 0 2px 1px rgba(0, 0, 0, 0.08);
$alert-shadow-1: 0 15px 10px -6px rgba(0, 0, 0, 0.25);
$green-gradient: linear-gradient(135deg, $green 0%, $dark-green 100%);
$green-gradient-45: linear-gradient(
  135deg,
  rgba($green, 0.45) 0%,
  rgba($dark-green, 0.45) 100%
);
$red-gradient: linear-gradient(135deg, $green 0%, $dark-green 100%);
$white-layer-gradient: linear-gradient(
  180deg,
  #ffffff 0%,
  rgba(255, 255, 255, 0.67) 30.25%,
  rgba(255, 255, 255, 0) 100%
);
$backdrop-opacity: 0.8;
$backdrop-color: rgba($medium-green-2, $backdrop-opacity);
