<ion-header  no-border>
  
  <div  class="flex p-board flex-column">
    <div class="flex">
      <ion-button  (click)="back()" fill="clear"  slot="start">
        <ion-icon  color="dark" name="arrow-left"></ion-icon>
      </ion-button>
      <ion-title class="text-center" >
         <ion-text color="dark">{{title}}</ion-text>
       </ion-title>

    </div>
    

  </div>
</ion-header>
<ion-content>
  <ion-row *ngIf="show === 'profile'" class="mt-16">
    <ion-col size="12">
      <form (ngSubmit)="updateUser()" [formGroup]="credentials" class="form-container pt-16">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" formControlName="fullName"></ion-input>
        </ion-item>
        <div *ngIf="(fullName.dirty || fullName.touched) && fullName.errors" class="errors">
          <span *ngIf="fullName.errors?.required">Name is required</span>
        </div>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
          <span *ngIf="email.errors?.required">Email is required</span>
          <span *ngIf="email.errors?.email">Email is invalid</span>
        </div>
        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
        <div *ngIf="(phone.dirty || phone.touched) && phone.errors" class="errors">
          <span *ngIf="phone.errors?.required">phone is required</span>
          <span *ngIf="phone.errors?.minlength">phone needs to be 8 characters</span>
        </div>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
        <div *ngIf="(address.dirty || address.touched) && address.errors" class="errors">
          <span *ngIf="address.errors?.required">address is required</span>
        </div>
        <ion-button class="success-btn mt-32" type="submit" expand="block" [disabled]="!credentials.valid">Update</ion-button>
  
       
      </form>
  
    </ion-col>
  
  </ion-row>
  <ion-row *ngIf="show === 'password'" class="mt-16">
    <ion-col size="12">
      <form (ngSubmit)="updatePassword()" [formGroup]="changePasswordForm" class="form-container pt-16">
        <ion-item>
          <ion-label position="floating">Old Password</ion-label>
          <ion-input type="password" formControlName="oldPassword"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>
        <ion-button class="success-btn mt-32" type="submit" expand="block" [disabled]="!changePasswordForm.valid">Update</ion-button>
  
       
      </form>
  
    </ion-col>
  
  </ion-row>
 

</ion-content>
