<app-header [cart]="false" [search]="false" title="About the app"></app-header>
<ion-content padding="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{'gdtLabel' | translate}}</ion-card-subtitle>
      <ion-card-title>{{appVersion }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
<div class="item item-icon-left about-version item-inset border-radius-top">
  <i class="icon icon-gdt-icon-5 positive"></i>
  <h2>{{'gdtLabel' | translate}}</h2>
  <p>{{'version' | translate}} {{appVersion }}</p>
</div>
<div class="card aboutContent" ng-if="aboutData">
  <div class="item item-text-wrap" ng-bind-html="applanguage == 'English' ? aboutData.aboutEn : aboutData.aboutAr">
  </div>
</div>
<!-- <div class="card">
  <a class="item item-icon-left" ng-href="tel:8000 8001">
    <i class="icon ion-ios-telephone positive "></i>
    <p>{{languageArr.forassistance}}</p>
    <h2 class="positive" style="direction: ltr;">8000 8001</h2>
  </a>
</div> -->
<div class="list textAlign-center ">
  <a class="button icon light ion-social-facebook class-facebook custom-soc-icon" (click)="openExternalLink(configlist.FaceBookURL,'Facebook');"></a>
  <a class="button icon  light ion-social-instagram  class-instagram custom-soc-icon" (click)="openExternalLink(configlist.instagaramURL,'Instagram');"></a>
  <a class="button icon light ion-social-twitter class-twitter custom-soc-icon" (click)="openExternalLink(configlist.TwitterURL,'Twitter');"></a>
  <a class="button icon light ion-social-youtube class-youtube custom-soc-icon" (click)="openSystem(configlist.youtubeURL,'YouTube');"></a>
</div>
<div>&nbsp;</div>
</ion-content>
